a {
    text-decoration: none;
    color: #EB7E7E;
}

.HeaderStyle {
    color: #EB7E7E;
    background-color: #4A4F56;
    text-align: center;
    padding: 15px 0;
}

.HeaderStyle span, a {
    font-size: 25px;
}

.Middle {
    background-color: #3B3F45;
    overflow: hidden;
    height: 580px;
}

label {
    font-size: 30px;
    padding-left: 10px;
    color: #f8f9f8;
}

label span {
    font-size: 20px;
    opacity: 50%;
}

ul {
    margin: 10px 150px;
    overflow: hidden;
    list-style-type: none;
}

li {
    padding: 15px 10px;
}

.upperli {
    background-color: #88839E;
}

.downli {
    background-color: #7a7593;
}

input {
    transform: scale(1.5);
    opacity: 70%;
}

.center {
    margin: 40px 400px;
}

.Bon {
    margin-left: 590px;
    margin-right: 550px;
}

div a:hover {
    color: yellow;
}

.transition {
    transition: 3s;
}

li:hover {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    background-color: #625e77;
}

input[type=checkbox]:checked + label {
    text-decoration: line-through;
    opacity: 30%;
}